<div class="container mx-auto" style="max-width: 640px">
  <h1 class="mb-4">Buat Kelas</h1>

  <%= render 'form', kelas: @kelas %>

  <%= link_to kelas_index_path, class: "btn btn-primary" do %>
    <i class="fas fa-arrow-left"></i> Kembali
  <% end %>
</div>