<aside class="main-sidebar sidebar-dark-primary">
  <%= simple_active_link_to root_path, class: "brand-link", active: :exact, active_disable: :hash do %>
    <span class="brand-text">Kuesioner</span>
  <% end %>

  <div class="sidebar">
    <nav id="sidebar-nav-items" class="mt-2">
      <ul class="nav nav-pills nav-child-indent nav-sidebar flex-col" data-widget="treeview" role="menu">
        <%= render_menus %>
      </ul>
    </nav>
  </div>
</aside>
