<aside class="main-sidebar sidebar-dark-primary">
  <%= simple_active_link_to root_path, class: "brand-link", active: :exact, active_disable: true do %>
    <span class="brand-text">Kuesioner</span>
  <% end %>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-col" role="menu">
        <%= render_menus %>
      </ul>
    </nav>
  </div>
</aside>
