<div class="container mx-auto" style="max-width: 640px">
  <h1 class="mb-4">Mengedit Mahasiswa</h1>

  <%= render 'form', mahasiswa: @mahasiswa %>

  <%= link_to mahasiswas_path, class: "btn btn-primary" do %>
    <i class="fas fa-arrow-left"></i> Kembali
  <% end %>
  <%= link_to @mahasiswa, class: "btn btn-primary" do %>
    <i class="fas fa-eye"></i> Lihat
  <% end %>
</div>
