<%= bootstrap_form_with(model: item_kuesioner, class: "mb-4") do |form| %>

  <%= form.select :kategori_kuesioner_id, kategori_kuesioner_options %>


  <%= form.text_field :pertanyaan %>

  <div class="actions">
    <%= form.primary %>
  </div>
<% end %>