<div class="container mx-auto" style="max-width: 640px">
  <h1 class="mb-4">Buat Jadwal Mata Kuliah</h1>

  <%= render 'form', jadwal_mata_kuliah: @jadwal_mata_kuliah %>

  <%= link_to jadwal_mata_kuliahs_path, class: "btn btn-primary" do %>
    <i class="fas fa-arrow-left"></i> Kembali
  <% end %>
</div>