<!DOCTYPE html>
<html>
  <head>
    <title>Kuesioner</title>
    <%= render "shared/head", cached: true %>

    <%= stylesheet_pack_tag 'empty', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'empty', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
